@import './base.css';

#app {
  max-width: 2560px;
  margin: 0 auto;
  padding: 2rem 0 0;

  font-weight: normal;
  background-color: #ffc3e7;
}

a,
.green {
  text-decoration: none;
}
*{
  color: black;
}

h1 {
  color: #8a9df9;
}

.p-galleria-thumbnail-container {
  background: #ffc3e7;
}

.p-galleria-thumbnail-item{
  opacity: 1;
}

.p-datatable .p-datatable-thead > tr > th {
  border: 0;
  background: white;

}

.p-datatable .p-datatable-tbody > tr > td {
  border: 0;
  background: white;
}

.p-datatable-wrapper {
  border-radius: 25px;
}

.p-dialog-header {
  background: #ffc3e7;
}

.p-dialog-content {
  background: #ffc3e7;
}